extends layout
block main-content
    .container.alert-danger.text-center
        h2 You do not have permissions to view this page!
            div.container.text-center
                a(href="/") Please go back to our main page


