extends shared/layout

block main-content
    h1 File Upload
    h2.text-center
        a(href="/files") Click here
        |     to view all our files

    h2.text-center To upload a file please register and log in.