@{
    ViewBag.Title = "Cupcake page";
}

<div class="jumbotron">
    <h1 class="text-center">Your prime source for cupcake information</h1>
    <div class="lead container">@ViewBag.Message</div>
    <p><a href="https://www.google.bg/?gfe_rd=cr&ei=o-hAVJD_AYuu8wfM_4CwAQ&gws_rd=ssl#q=cupcakes" class="btn btn-primary btn-lg">Learn more about cupcakes</a></p>
</div>

