extends ../shared/layout
block main-content
    h2 Choose create type
        div
            a.btn.btn-default(href="/events/create/public") Create a public event
        div
            a.btn.btn-default(href="/events/create/initiative") Create a initiative event
        div
            a.btn.btn-default(href="/events/create/initiativeseason") Create a initiative & season event