extends create
block type-content
    label.animated.fadeInRight(for="init") Choose initiative
    select(id="init" class="form-control" name="init" required="required")
        option(value="Software Academy") Software Academy
        option(value="Algo Academy") Algo Academy
        option(value="School Academy") School Academy
        option(value="School Academy") Kids Academy
    label.animated.fadeInRight(for="season") Choose season for the initiative
    select(id="season" class="form-control" name="season" required="required")
        option(value="Started 2010") Started 2010
        option(value="Started 2011") Started 2011
        option(value="Started 2012") Started 2012
        option(value="Started 2013") Started 2013
    br